.examples {
  padding: 20px
}

.examplesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.example {
  flex-basis: 48%;
  flex-grow: 1;
  text-align: center;
  padding: 20px;
  margin: 10px;
}
