.iconsContainerSection {
  padding: 20px;
}

.iconsContainer {
  display: flex;
  flex-wrap: wrap;
}

.iconsContainer .icon {
  margin: auto;
  text-align: center;
  width: 200px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.iconName {
  font-size: 12px;
  margin-top: 10px;
}
